params {
    // Command line parameters
    bam = "" // The bamfile, preferrably supply on commandline ( --bam )
    project = "" // Set project or supply on commandline ( --project )
    steps = 'manta,vep' // Change on commandline --steps x,y,z
    outdir = "results"
    prefix = ''

    // Reference assemblies
    ref_fasta = "/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37.fasta"
    assembly = 'GRCh37'

    // Modules and their versions on the HPC-system
    modules {
        samtools = 'samtools/0.1.19'
        manta = 'manta/1.0.0'
        fermikit = 'fermikit/r178'
        vcftools = "vcftools/0.1.14"
        tabix = "tabix/0.2.6"
        bedtools = "BEDTools/2.25.0"
        vep = "vep/84"
        snpeff = "snpEff/4.2"
        vt = "vt/0.5772"
    }

    // Runtimes for different parts of the workflow
    runtime {
        simple = '30m'    // Short simple shell jobs
        fermikit = '24h' // Fermikit is the longest running of them all
        caller = '10h'  // The rest are a lot quicker
    }
}

process {
    executor = 'slurm'
    clusterOptions = {
        "-A $params.project"
    }
}

executor {
    $slurm {
        queueSize = 10
    }
    $local {
        queueSize = 1
    }
}
