process {
  executor = 'slurm'
  time = '10m'
  clusterOptions = {
    '-A b2015110 --qos=short -p core'
  }
}

params {
    modules {
        samtools = 'samtools/0.1.19'
        manta = 'manta/0.27.1'
    }
    programs {
        svvcf2bed = "/home/rajohvik/Work/wgs-structvar/SVvcf2bed.pl"
    }
    threads = 16
    ref_fasta = "/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37.fasta"
}
