process {
  executor = 'slurm'
  time = '10m'
  clusterOptions = {
    "-A $params.project -p node"
  }
}

params {
    project = "b2015110"
    modules {
        samtools = 'samtools/0.1.19'
        manta = 'manta/0.27.1'
        fermikit = 'fermikit/r178'
        vcftools = "vcftools/0.1.14"
        tabix = "tabix/0.2.6"
        bedtools = "BEDTools/2.23.0"
    }
    threads = 16
    genome_size = "3g"
    readlen = 150
    ref_fasta = "/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37/human_g1k_v37.fasta"
}
