process {
    $index_bamfile {
        module = ['bioinfo-tools', 'samtools/1.3']
    }

    $manta {
        maxRetries = 3
        cpus = 16
        module = ['bioinfo-tools', 'manta/1.0.3']
    }

    $create_fastq {
        module = ['bioinfo-tools', 'samtools/1.3']
    }

    $fermikit {
        maxRetries = 3
        cpus = 16
        module = ['bioinfo-tools', 'samtools/1.3', 'fermikit/r178', "vcftools/0.1.14", "tabix/0.2.6"]
    }

    $artifact_mask_vcfs {
        module = ['bioinfo-tools', 'BEDTools/2.26.0']
    }

    $cohort_mask_vcfs {
        module = ['bioinfo-tools', 'BEDTools/2.26.0']
    }

    $intersect_files {
        module = ['bioinfo-tools', 'BEDTools/2.26.0']
    }

    $normalize_vcf {
        module = ['bioinfo-tools', 'vt/0.5772']
    }

    $variant_effect_predictor {
        cpus = 4
        module = ['bioinfo-tools', 'vep/84']
    }

    $snpEff {
        module = ['bioinfo-tools', 'snpEff/4.2', 'vt/0.5772']
    }
}
