process {
    clusterOptions = {
        "-A $params.project"
    }

    errorStrategy = { if (task.exitStatus == 143) { 'retry' } else if ( $params.runfile ) { 'ignore' } else { 'terminate' } }
    queue = 'devcore'
    executor = 'slurm'

    time = '1h'
}

executor {
    $slurm {
        queueSize = 1
    }
    $local {
        queueSize = 1
    }
}
