process {

   clusterOptions = {
       "-A $params.project"
   }

  $index_bamfile {
    module = ['bioinfo-tools', 'samtools/1.3']
    time = { workflow.profile == 'devel' ? '1h' : params.runtime.simple }
  }

  $manta {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
    time = { workflow.profile == 'devel' ? '1h' : params.runtime.caller * 2 **(task.attempt-1) }
    maxRetries = 3
    cpus = 16
    module = ['bioinfo-tools', 'manta/1.0.3']
  }

  $create_fastq {
    time = { workflow.profile == 'devel' ? '1h' : params.runtime.caller }
    module = ['bioinfo-tools', 'samtools/1.3']
    }

  $fermikit {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
    time = { workflow.profile == 'devel' ? '1h' : params.runtime.fermikit * 2**( task.attempt -1 ) }
    maxRetries = 3
    cpus = 16
    module = ['bioinfo-tools', 'samtools/1.3', 'fermikit/r178', "vcftools/0.1.14", "tabix/0.2.6"]
    }

  $mask_vcfs {
    time = { workflow.profile == 'devel' ? '1h' : params.runtime.simple }
    module = ['bioinfo-tools', 'BEDTools/2.25.0']
    }

  $intersect_files {
    time = { workflow.profile == 'devel' ? '1h' : params.runtime.simple }
    module = ['bioinfo-tools', 'BEDTools/2.25.0']
    }

  $normalize_vcf {
    time = { workflow.profile == 'devel' ? '1h' : params.runtime.simple }
    module = ['bioinfo-tools', 'vt/0.5772']
    }

  $variant_effect_predictor {
    cpus = 4
    time = { workflow.profile == 'devel' ? '1h' : params.runtime.simple }
    module = ['bioinfo-tools', 'vep/84']
    }

  $snpEff {
    time { workflow.profile == 'devel' ? '1h' : params.runtime.simple }
    module = ['bioinfo-tools', snpEff/4.2', 'vt/0.5772']
    }
