process {
    clusterOptions = {
        "-A $params.project"
    }

    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
    queue = 'core'
    executor = 'slurm'

    time = params.runtime.simple

    $manta {
        time = { params.runtime.caller * 2 **(task.attempt-1) }
    }

    $create_fastq {
        time = params.runtime.caller
    }

    $fermikit {
        time = { params.runtime.fermikit * 2**( task.attempt -1 ) }
    }
}
